@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Access to local database has already been done on Nov 20, 2023 by David Gutierrez</h1>
</div>
